# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
.venv/
env/

# ML artifacts
models/*.joblib
data/processed/
reports/
*.pkl

# MLflow
mlruns/
mlartifacts/

# DVC
/data/*.csv
*.dvc
.dvc/tmp/
.dvc/cache/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfplan
terraform/plan.out
.terraform.lock.hcl

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Jupyter
.ipynb_checkpoints/

# Temp
explore_data.py
